.acc{
    color: blue;
    
    
}

#googleBtn{
    align-self: auto;
    background-color: rgba(40, 242, 245, 0.988);
    border: 1px solid red;
}


/* #QuizDiv{
  /* background-color: black; */
  /* height: 100rem; 
} */

.quiz-container {
    background-color: #1e1e2f;
    color: #ffffff;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
   
  }
  
  .quiz-list {
    list-style: none;
    padding: 0;
  }
  
  .quiz-item {
    margin-bottom: 2rem;
  }
  
  .question-number {
    /* background-color: #3f51b5; */
    color: rgb(36, 231, 136);
    padding: 0.5rem 1rem;
    border-radius: 50%;
    display: inline-block;
    margin-right: 1rem;
  }
  
  .question-text {
    display: inline-block;
    margin-bottom: 1rem;
    margin-left: 5px ;
    color: rgb(36, 231, 136);
  }
  
  .quiz-option {
    background-color: #292a3e;
    color: #fff;
    border: 1px solid #3f51b5;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    transition: all 0.3s ease;
  }
  
  .quiz-option:hover {
    background-color: #3f51b5;
    cursor: pointer;
  }

 
.quizGenerateInput{
  background-color: green;
  color: red;
}


/* 
#quizForm{
    
    width: 20%;
    margin-top: 20px;
    margin-left: 20px;
    box-sizing: border-box;
    border-radius: 10px;
color: black;
padding: 20px;
align-items: center;
justify-content: center;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
#quizForm input,select{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 5px 10px 5px;
    border-radius: 5px;
    border: none;
    background-color: rgb(245, 237, 237);
}
#quizForm button{
    width: 100%;
    padding: 10px 0px 10px 0px;
    border-radius: 5px;
    border: none;
    background-color: rgb(71, 248, 71);
    color: white;
    font-size: large;
    cursor: pointer;
} */

/* #testing{
  background-color: rgba(210, 219, 210, 0.078);
} */